body {
    padding: 0;
    width: 80%;
    margin: auto;
    background: #459c9c;
    box-sizing: border-box;
}

header {
    width: 100%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:  #1F2833;
    color: white;
}

.bg-primary{
    background-color: black !important;
}

.dropdown-toggle{
    color: #56d0d0 !important;
}

.dropdown-menu a:hover{
    background-color: #56d0d0 !important;
}


header h1 {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

nav {
    width: 100%;
    text-align: center;
}

main {
    width: 100%;
    margin: auto;
    background-color:  #C9C9C9;
    height: 100%;
    box-sizing: border-box;
    min-height: 900px;
    padding: 0;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

#content {
    text-align: center;
    width:100%;
    padding-top: 50px;
}

.loginButtons{
    margin: 15px;
    width:300px;
    height: 50px;
    background-color: #1F2833;
    border: none;
    color: white;
    font-weight: bold;
    font-size: larger;
}

.loginButtons:hover{
    background-color: #56d0d0;
}

#unitTable{
    width: 40%;
    margin:auto;
}

#unitTable tr td:first-child{
    text-align: left;
    width: 25%;
}

#registerTable{
    border-collapse: collapse;
    width: 40%;
    margin:auto;
}

#registerTable tr:hover {
    background-color: #1F2833;
    color:white;
}

#registerTable tr td:first-child{
    text-align: left;
}


.infoTable{
    margin:auto;
    width:60%;
    border-collapse: collapse;
    border:#1F2833 1px solid;
}

.infoTable > tbody > tr:first-child{
    background-color: #1F2833;
    color: white
}

.infoTable > tbody > tr > td{
    border-left: white 1px solid;
}

.infoTable > tbody > tr > td:first-child{
    border-left: none;
}
.infoTable .hiddenRow table > tbody tr td:first-child {
    text-align: left;
    border-right: #DDDDDD 1px solid;
}

.infoTable .hiddenRow table{
    border-collapse: collapse;
}

.infoTable .hiddenRow table > tbody tr td{
    background-color: #BABABA;
    border-bottom: #ACACAC 1px solid;
}

.infoTable .visibleRow:hover{
    background-color: #1F2833;
    color: white
}

.justifyTd{
    text-align: justify;
}


